In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [2]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [3]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [5]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedmad_mse'], 
'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(independent, dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 356, in fit
    criterion = CRITERIA_REG[self.criterion](self.n_outputs_, n_samples)
KeyError: 'friedmad_mse'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.68925645 0.67688269 0.66526453 0.65887975 0.67355905 0.64795869
 0.71173677 0.6994076  0.68765788 0.66560999 0.6807069  0.67022234
        nan        nan        nan        nan        nan        nan]
  category=UserWarning,
C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedmad_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [7]:
re=grid.cv_results_
print("the R_Score value for best parameter{}:".format(grid.best_params_))
table=pd.DataFrame.from_dict(re)
table

the R_Score value for best parameter{'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}:

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010810,1.940948e-03,0.004204,7.487108e-04,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.711723,0.612698,0.725486,0.740529,0.655846,0.689256,0.047799,3
1,0.009208,1.328380e-03,0.003803,4.000903e-04,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.693709,0.676369,0.620610,0.653545,0.740180,0.676883,0.040003,6
2,0.007407,8.008486e-04,0.004003,1.266064e-03,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.752903,0.605543,0.670619,0.634079,0.663179,0.665265,0.049503,10
3,0.007806,2.788095e-03,0.004204,4.001865e-04,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.705292,0.495843,0.729780,0.649066,0.714418,0.658880,0.085957,11
4,0.009208,1.722064e-03,0.003404,4.909919e-04,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.720512,0.619892,0.641120,0.684795,0.701475,0.673559,0.037530,7
5,0.006807,7.493991e-04,0.003803,3.999956e-04,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.733790,0.513226,0.717292,0.655488,0.619998,0.647959,0.078950,12
6,0.031229,1.168737e-03,0.002803,4.048687e-04,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.737353,0.638224,0.715436,0.725985,0.741685,0.711737,0.037879,1
7,0.028024,3.953035e-03,0.003204,7.480431e-04,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.669243,0.630232,0.766893,0.741519,0.689152,0.699408,0.049250,2
8,0.021619,2.730054e-03,0.003403,4.900766e-04,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.633254,0.643360,0.679462,0.758521,0.723693,0.687658,0.047559,4
9,0.017816,2.137610e-03,0.003203,4.006387e-04,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.646811,0.595640,0.768729,0.668793,0.648077,0.665610,0.056921,9
10,0.022621,2.873089e-03,0.003003,6.329375e-04,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.687110,0.558771,0.699765,0.722842,0.735047,0.680707,0.063247,5
11,0.017216,4.001858e-04,0.003003,5.223489e-07,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.705412,0.596637,0.739299,0.601283,0.708481,0.670222,0.059399,8
12,0.004404,4.902520e-04,0.000000,0.000000e+00,friedmad_mse,auto,best,"{'criterion': 'friedmad_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
13,0.004004,6.330884e-04,0.000000,0.000000e+00,friedmad_mse,auto,random,"{'criterion': 'friedmad_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
14,0.004004,6.330129e-04,0.000000,0.000000e+00,friedmad_mse,sqrt,best,"{'criterion': 'friedmad_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
15,0.003603,4.905634e-04,0.000000,0.000000e+00,friedmad_mse,sqrt,random,"{'criterion': 'friedmad_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
16,0.002402,4.903297e-04,0.000000,0.000000e+00,friedmad_mse,log2,best,"{'criterion': 'friedmad_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
17,0.003003,1.168008e-07,0.000000,0.000000e+00,friedmad_mse,log2,random,"{'criterion': 'friedmad_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18

In [8]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:46
BMI:54
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

### age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [9]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[45863.205]

C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"