In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [2]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [3]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [5]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
estimator=RandomForestRegressor()
estimator.get_params().keys()
param_grid = {'criterion':['mse','mae'], 
'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(independent, dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [7]:
re=grid.cv_results_
print("the R_Score value for best parameter{}:".format(grid.best_params_))
table=pd.DataFrame.from_dict(re)
table

the R_Score value for best parameter{'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}:

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.408514,0.464090,0.007808,7.116808e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.836708,0.774395,0.840890,0.803587,0.823779,0.815872,0.024470,11
1,1.078983,0.923971,0.012011,1.507891e-07,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.850661,0.769937,0.853455,0.819907,0.837999,0.826392,0.030612,5
2,0.109700,0.026592,0.004604,1.856548e-03,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.856023,0.763537,0.842368,0.815096,0.823882,0.820181,0.031702,9
3,0.341311,0.045083,0.015614,7.206631e-03,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.859260,0.783148,0.858094,0.832056,0.840872,0.834686,0.027760,1
4,0.283858,0.213675,0.004016,6.144117e-04,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.835539,0.761892,0.858079,0.802408,0.826632,0.816910,0.032783,10
5,0.588135,0.460763,0.023221,1.394687e-02,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.856691,0.780464,0.860246,0.830148,0.840815,0.833673,0.028742,2
6,0.414577,0.124409,0.004204,4.004240e-04,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.815715,0.768160,0.845173,0.818854,0.826177,0.814816,0.025474,12
7,3.821492,1.110423,0.036433,2.088611e-02,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.839870,0.768139,0.847976,0.820744,0.837582,0.822862,0.028760,6
8,0.470028,0.222596,0.004004,3.504023e-07,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.844631,0.755985,0.853700,0.822816,0.825797,0.820586,0.034293,8
9,1.836375,0.378056,0.012427,4.790095e-04,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.859389,0.779388,0.859340,0.825460,0.840158,0.832747,0.029571,3
10,0.307480,0.081372,0.004014,1.950351e-05,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.843836,0.764618,0.854306,0.813324,0.836227,0.822462,0.031905,7
11,1.844680,0.058280,0.024222,1.599460e-02,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.854130,0.777947,0.855497,0.828895,0.841355,0.831565,0.028495,4

In [8]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:34
BMI:45
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

### age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [9]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[5524.3293554]

C:\Users\jovan\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"